# Database Configuration
DB_URL=jdbc:mysql://mysql:3306/billing_bot?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=COLOQUE_SUA_SENHA_AQUI
MYSQL_ROOT_PASSWORD=COLOQUE_SUA_SENHA_AQUI

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=SEU_EMAIL@gmail.com
EMAIL_PASSWORD=SUA_SENHA_APP_AQUI

# JPA Configuration
JPA_SHOW_SQL=false
JPA_FORMAT_SQL=false