DB_URL=
DB_USERNAME=
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=

YOUTUBE_EMAIL_HOST=smtp.gmail.com
YOUTUBE_EMAIL_PORT=587
YOUTUBE_EMAIL_USERNAME=
YOUTUBE_EMAIL_PASSWORD=

JPA_SHOW_SQL=false
JPA_FORMAT_SQL=false